# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
*.tlog
*.pdb
*.idb
*.log
*.ilk
*.suo
*.iobj
*.ipdb
**/*.db


##############

# MY PROJECT
*.ai
README.html
TODO.md
__*
*.zip
**/.doxygen
doc/*.html
doc/Design.md
doc/Test/*
doc/SVG/*


# Reserve
project/VS2015_cpp/*
project/VS2015_cs/*
src/CPP/*
project/vs2015_C#/VMDtoJSON/Resources/hotplug.ico
